
.btn--yagtlf {
    border: 1px solid;
    border-image-source: linear-gradient(264.69deg, #13F1FF 0%, #9E7CFF 100%);
    background:  linear-gradient(264.69deg, #13F1FF 0%, #9E7CFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.p-bg {
    background-image: var(--bg);
}