h1 {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 26.04px;
    letter-spacing: -0.800000011920929px;
    text-align: left;
}

.header {
    display: flex;
    padding: 32px, 40px, 32px, 40px;
    justify-content: space-between;
    flex-direction: column;
    &__h1-and-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 48px 
    }
    nav {
        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            gap: 40px;
            li {
                margin: 0;
                a {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19.36px;
                    text-align: left;

                    text-decoration: none;
                    // color: #2C6CDD;
                    padding: .5em;
                }
            }
        
        }
    }
    &__newsletter-link {
        background-color: #2C6CDD;
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        align-self: last baseline
    }
}

.spec {
    &__label {
        opacity: 72%;
    }
}

.shiny-slogan {
    flex-grow: 0;
    display: inline-block;
    justify-self: center;
    position: relative;

    border-image-source: linear-gradient(264.69deg, #13F1FF 0%, #9E7CFF 100%);


    $border: 2px;
    $radius: 8px;
    background: #000;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: $radius;
    padding: 4px 10px 4px 6px ;
}

.invitation {
    margin-top: 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 148px;

    .slogan {
        font-size: 48px;
        font-weight: 600;
        line-height: 58.09px;
        margin: 24px auto;
        text-align: center;
        color: var(--color-text-primary);
        strong {
            display: inline-block;
            position: relative;
            &:before {
                display: block;
                content: '';
                position: absolute;
                --offset-y: -0.166em;
                --offset-x: -0.2em;
                top: var(--offset-y);
                left: var(--offset-x);
                right: var(--offset-x);
                bottom: var(--offset-y);
                background: linear-gradient(0deg, rgba(190,245,75,1) 0%, rgba(177,243,65,1) 70%);
                z-index: -1;
                border-radius: 16px;
            }
        }

    }
    .subslogan {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        padding-top: 1em;
        color: var(--color-text-secondary);

    }
}